@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  src: url('../../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
