@import 'variables.scss';
@import 'font.scss';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

#main-menu ul {
  background-color: $color-nav;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

#main-menu ul li {
  flex: 0 0 100px;
  list-style: none;
  padding: 10px 5px;
  color: $color-nav-link;
  font-weight: bold;
}

#main-menu ul li span {
  cursor: pointer;
}

.main-title {
  font-size: 32px;
}

.image {
  margin: auto;

  &.small {
    max-width: 100px;
  }

  &.medium {
    max-width: 150px;
  }

  &.large {
    max-width: 200px;
  }
}
